*.iml
.gradle
.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.lock
/app/src/native/
/app/src/.tmp/
/app/src/android/
/app/src/build-scan-data/
/app/src/caches/
/app/src/daemon/
/app/src/jdks/
/app/src/wrapper/
*.properties
*.properties
*.properties
*.properties
