<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app__unbackground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pop4u_App"
        tools:targetApi="31">
        <activity
            android:name=".LoginScreen.VerifyForgotPass"
            android:exported="false" />
        <activity
            android:name=".LoginScreen.CreateNewPass"
            android:exported="false" />
        <activity
            android:name=".AccountScreen.TermsDetail"
            android:exported="false" />
        <activity
            android:name=".SearchScreen.CategoryProduct"
            android:exported="false" />
        <activity
            android:name=".PaymentScreen.PaymentSuccess"
            android:exported="false" />
        <activity
            android:name=".ProductDetailScreen.CartActivity"
            android:exported="false" />
        <activity
            android:name=".HomeScreen.FavoriteListActivity"
            android:exported="false" />
        <activity
            android:name=".LoginScreen.ForgotPassScreen"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".OrderDetailSrc.OrderDetail" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".OrderScreen.OrderScreen"
            android:exported="false" />
        <activity
            android:name=".ProductDetailScreen.ProductDetailScreen"
            android:exported="false" />
        <activity
            android:name=".AccountScreen.SettingScreen"
            android:exported="false" />
        <activity
            android:name=".HomeScreen.ProductListCategory"
            android:exported="false" />
        <activity
            android:name=".HomeScreen.AllArtist"
            android:exported="false" />
        <activity
            android:name=".LoginScreen.LoginPage"
            android:exported="false" />
        <activity
            android:name=".SearchScreen.QuerySearchActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".home.ProductListCategory" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ArtistInfoScreen.ArtistInfoScreen"
            android:exported="false" />
        <activity
            android:name=".SplashScreen.OnBoarding"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" /> <!-- <activity -->
        <!-- android:name=".SearchScreen.SearchDashboardActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".AddressScreen.PickAddress"
            android:exported="false" />
        <activity
            android:name=".AddressScreen.AddAddress"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".VoucherScreen.InputVoucher" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".VoucherScreen.ShowVoucher"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".home.ProductListCategory" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".SignUp.SignUp_4"
            android:exported="false" />
        <activity
            android:name=".SignUp.SignUp_3"
            android:exported="false" />
        <activity
            android:name=".SignUp.SignUp_2"
            android:exported="false" />
        <activity
            android:name=".SignUp.SignUp_1"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".CartScreen.Cart" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".Home." -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".PaymentScreen.Payment"
            android:exported="false" />
        <activity
            android:name=".OrderDetailSrc.OrderDetail"
            android:exported="false" />
        <activity
            android:name=".SplashScreen.SplashScr"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>